.exclusive_models_list {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
}

.info-card {
    scale: 0.8
}