.header {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

h4 {
    font-weight: 500;
}

.a_bold {
    font-weight: 600;
}

.nav {
    display: flex;
    width: 32vw;
    justify-content: space-around;
    align-items: center;
}