.section_cards {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}

.cards_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.cards_block {
    text-align: left;
}

h1{ 
    margin: 0;
    color: #282F2F;
}

p {
    text-align: justify;
}

.view-all-button {
    font-size: 32px;
    padding: 10px 20px;
    border-radius: 15px;
    color: black;
    border: 2px solid black;
    transition: all 0.3s;
    font-weight: 400;
}

.view-all-button:hover {
    border: 0;
    font-size: 32px;
    padding: 10px 20px;
    background-color: #B5B9BA;
    border-radius: 15px;
    color: white;
    transition: all 0.3s;
}