.filter_catalog {
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    width: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
}

.header_catalog_nav1, .header_catalog_nav2, .header_catalog_nav3 {
    padding: 0 20px;
}

.header_catalog_nav1 select, .header_catalog_nav2 select, .header_catalog_nav3 select{
    border: 2px solid black;
    border-radius: 9px;
    width: 140px;
    height: 35px;
}

.button_apply {
    width: 180px;
    border-radius: 9px;
    background: white;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid black;
    height: 48px;
    transition: all .3s;
}

.button_apply:focus {
    color: #171e29;
}

.button_apply:hover {
    border-color: white;
    color: white;
    fill: #56D33AFF;
}

.button_apply:active {
    border-color: #56d33a;
    color: #56d33a;
    fill: #56D33AFF;
}

.filters {
    display: flex;
}